.keyBoard{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    
}
.num{
    height: 50px;
    width: 50px;
    background-color: brown;
}
.zero{
    width: 100px;
}
.point{
    height: 50px;
    width: 50px;
}
