.keyBoard{
    display: flex;
}
.operators{
    display: flex;
    flex-direction: column;
}
.operator{
    height: 50px;
    width: 50px;
}

.nums{
    display: flex;
    width: 150px;
    flex-wrap: wrap-reverse;  
}
.num{
    height: 50px;
    width: 50px;
}
.zero{
    width: 100px;
}
.point{
    height: 50px;
    width: 50px;
}
.variable{
    height: 50px;
    width: 50px;
}
